{
  "database": {
    "host": "http://localhost:8086",
    "token": "<INFLUX TOKEN>",
    "org": "nprobe",
    "bucket": "nprobe"
  },
  "satellites": {
    "localhost-probe": {
      "secret": "SECRET-IDENTIFIER",
      "targets": ["server1", "server2"]
    },
    "probe.example.com": {
      "secret": "A-SECOND-SECRET-IDENTIFIER",
      "targets": ["server1", "server2", "server3"]
    }
  },
  "targets": {
    "server1": {
      "host": "foo.example.com",
      "probe_type": "icmp",
      "probes": 5,
      "interval": 10,
      "batch_size": 5
    },
    "server2": {
      "host": "bar.example.com",
      "probe_type": "icmp",
      "probes": 5,
      "interval": 10,
      "batch_size": 5
    },
    "server3": {
      "host": "https://foobar.example.com/",
      "probe_type": "http",
      "probes": 5,
      "interval": 10,
      "batch_size": 5
    }
  }
}

